<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Russia</string>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.plugins.kinopoisk3</string>
	<key>PlexAgentAttributionText</key>
        <string>
        <![CDATA[
			<style>
                @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
            </style>
            <style>
                div.center {
                    text-align: center;
                }
            </style>

            <div class="center">
                <h1>Кинопоиск3</h1>
            </div>
            <br>
			<div class="center">
			Плагин Plex Media Server - агент для заполнения метаданных Кинофильмов и Сериалов информацией
			с русского сайта <a href="http://kinopoiskapiunofficial.tech/">Kinopoisk API Unofficial</a>
			<br>
			<br>
			Страница плагина на GitHub <a href="https://github.com/lugovskovp/Kinopoisk3.bundle">Kinopoisk3</a>
            <br>
			</div>
            <br>
            <table>
                <tr>
                    <td><i class="fa fa-fw fa-question-circle"></i> Документация:</td>
                    <td>| <i class="fas fa-fw fa-file-lines"></i> <a href="https://github.com/lugovskovp/Kinopoisk3.bundle#" target="_blank">Docs</a></td>
                </tr>
            </table>
            <br>
            <div class="center">
                <i class="fab fa-fw fa-python" style="font-size:80px;"></i>
            </div>

            <script>
                <!-- Custom Javascript here -->
            </script>
        ]]>
        </string>
	<key>PlexClientPlatforms</key>
	<string>*</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexPluginClass</key>
	<string>Agent</string>
	<key>PlexPluginCodePolicy</key>
	<string>Elevated</string>
</dict>
</plist>